@font-face {
    font-family: Georgia2;
    src: url(/fonts/Georgia.ttf);
}

body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to top, #009900, #109910, #209920, #409940, #609960, #709970, #CCCCCC, #FFFFFF);
}

h1 {
    text-align: center;
    font-size: 120px;
    font-family: Georgia2;
    color: #FFFFFF

}

#Copyright {
    position: fixed;
    bottom: 0;
}

#CW2 {
    color: #6610acaf;
}

.CONTAINER {
    width: 75%;
    height: 50%;
    border-width:1px;
    color:#FFFFFF;
    border-color:#ff0000;
    font-family: Georgia2;
    font-weight:bold;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow:inset 0px 1px 0px 0px #a0544e;
    text-shadow:inset 0px 1px 0px #b23e35;
    background:linear-gradient(to top,#e91c09, #db4739);
    margin: auto;
}

.BUTTON1 {
    background-color: #ee5757;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Georgia2;
    
}

.news1 {
    padding-left: 45px;
    padding-top: 20px;
}

#news-header {
    margin-left: 20px;
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(#990000, #db5d5d);
}

.topnav a {
    font-family: Georgia2;
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ccb0b0af;
    color: black;
}

.topnav a.active {
    background-color: #EBEBEB;
    color: black;
}

.para1 {
    text-align: center;
    color: #FFFFFF;
    font-family: Georgia2;
}

th, td, table {
    color: #000000;
    font-family: Georgia2;
    border: 1px solid black;
    padding: auto;
    margin: auto;
}