@font-face {
    font-family: Georgia2;
    src: url(./fonts/Georgia.ttf);
}

body {
    margin: 0;
    height: 100vh;
    /* background: linear-gradient(180deg, rgba(191,215,234,1),rgba(145,174,193,1), rgba(80,140,164,1), rgba(10,135,84,1), rgba(0,79,45,1)) */
    /* background: linear-gradient(180deg, rgba(88,80,122,1), rgba(91,97,138,1), rgba(158,173,200,1), rgba(185,226,140,1), rgba(214,216,79,1)) */
    /* background: linear-gradient(180deg, rgba(214,216,79,1), rgba(185,226,140,1) */
    background: linear-gradient(180deg, rgb(193, 205, 226), rgb(160, 163, 182));
}

h1 {
    text-align: center;
    font-size: 120px;
    font-family: Georgia2;
    color: #000000;

}

.logo {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width:50%;
    height:auto;
}

.logo img {
    display: inline;
}

#Copyright {
    position: fixed;
    bottom: 0;
}

#CW2 {
    color: #760202af;
}

.CONTAINER {
    width: 90%;
    height: 65%;
    border-style: solid;
    border-width: 10px, 10px, 10px, 10px;
    color:#100b0b;
    border-color:#1e7f65;
    font-family: Georgia2;
    font-weight:bold;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-image: linear-gradient(#b8cf9f,#91935f);
    margin: auto;
}

.BUTTON1 {
    background-color: #1e7f65;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Georgia2;
    border-style: solid;
    border-color: #1e7f65;
    border-radius: 4px;
}

.news1 {
    padding-left: 45px;
    padding-top: 20px;
    font-size: 20px
}

#news-header {
    margin-left: 20px;
    font-size: 30px;
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(#75a875, #749c74);
}

.topnav a {
    font-family: Georgia2;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ccb0b0af;
    color: black;
}

.topnav a.active {
    background-color: #EBEBEB;
    color: black;
}

.para1 {
    text-align: center;
    color: #080505;
    font-family: Georgia2;
}

th, td, table {
    color: #000000;
    background-color: rgba(195, 187, 94, 0.741);
    font-family: Georgia2;
    border: 1px solid black;
    padding: auto;
    margin: auto;
}